@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,506;1,14..32,506&display=swap');

p,
a {
  font-family: 'Inter', sans-serif;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

.animate-slide-in {
  animation: slideIn 0.7s ease-out forwards;
}

.animate-slide-out {
  animation: slideOut 0.7s ease-out forwards;
}
